#goods-list-container {
  padding: 20px;
}
#goods-list-container .goods-form {
  margin-bottom: 40px;
}
#goods-list-container .ant-form-item {
  margin-top: 10px;
}

#goods-list-container .ant-btn {
  margin-left: 10px;
}
